body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-control:focus {
    border-color: #5c2040;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #5c2040;
}

#first-form-input {
    max-width: 500px;
}

#hr-separator {
    border: 0;
    clear: both;
    display: block;
    width: auto;
    background-color: #cce2ff;
    height: 1px;
}

#form-navigator {
    margin-top: 20px;
    margin-bottom: 10px;
}

#menu-holder {
    border-right: 1px solid #cce2ff;
    height: auto;
    padding-left: 0px;
    overflow: hidden;
    font-size: 13px;
}

#search-box {
    padding-left: 10px;
}

#table-crud {
    font-size: 13px;
}